.message {
    border-radius: 25px;
    background-color: lightblue;
    padding: 5px;
    display: inline-flex;
    max-width: 40vw;
}

.text {
    justify-content: flex-end;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.time {
    font-size: 10px;
}

.name {
    position: absolute;
    left: 5px;
    top: -5px;
    font-size: 10px;
}

.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 10px;
    height: 50vh;
    overflow: scroll;
    overflow: hidden;
}

.contacts {
    border-style: solid;
    border-width: medium;
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 10px;
    height: 50vh;
    overflow: scroll;
    overflow: hidden;
}


.chat li {
    padding: 0.25rem;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.other {
    align-self: flex-start;
    padding-top:10px;
    position: relative;
}

.self {
    align-self:flex-end;
}

.button {
    background-color: #bbb;
    display: block;
    width: 100%;
}
