.quoteBox {
    height: auto;
    width: 100%;
    border: 0 rgb(145, 126, 126) solid;
    max-width: "30vw",
}

.fadeIn {
    opacity: 0;
    display: block;
    animation: slidein 1s ease-out forwards;
}

@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
